.mobile-solution-menu-list {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
}


.solution-menu-list>ul.open {
    position: fixed;
    top: 77px;
    left: 0;
    width: 520px;
    height: calc(100vh - 76px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    color: #111;
    transition: width .3s ease-out;
}

.solution-menu-list>ul.closed {
    width: 0;
    opacity: 0;
    display: none;
}

.mobile-sub-menu-link h3 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: .9rem;
    font-weight: bold;
    color: #2E3280;
}

.mobile-solution-menu-link hr {
    margin-right: 50px;
}

.mobile-menu-title {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.mobile-menu-flex-title {
    border-bottom: 1px solid #232ce3;
    padding-bottom: 10px;
}

.mobile-sub-menu-link p {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: .8rem;
    color: #3e4393;
}

.mobile-menu-title h5 {
    margin-bottom: 0;
    margin-top: 0px;
    font-size: .9rem;
}

.mobile-menu-flex-title h5 {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: .9rem;
    color: #0075DB;
}

.mobile-sub-menu-link {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 0px;
}

.mobile-solution-menu-link {
    margin-left: -40px;
}

.mobile-sub-menu-link svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px;
    width: 25px;
    height: 25px;
    background: #F8FAFC;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.mobile-sub-menu-link:hover h3,
.mobile-sub-menu-link p {
    color: #1919e6;

}

.sub-menu-link:hover svg {
    background-color: #1e1ee4;
    color: white;
}


.mobile-menu-title {
    font-weight: 500;
    color: #0075DB;
    margin-bottom: 16px;
}

@media only screen and (max-width: 415px) {

    .truework-nav>div:nth-child(1),
    .truework-nav>.truework-right-nav {
        display: none;
    }

    .mobile-nav-links {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px 0px;
        background-color: #fff;
        z-index: 1;
        position: relative;
        transition: transform .3s ease-in;
    }

    .mobile-nav-links>a {
        text-decoration: none;
    }

    .mobile-links-close {
        transform: translateY(-140%);
        transform-origin: top;
    }

    .mobile-links-open {
        transform: translateY(0);
    }

    nav.truework-nav .hamburger {
        display: block;
    }

    .solution-menu-list>ul {
        list-style: none;
    }

    .solution-menu-list .mobile-links-close {
        transform: translateY(-200%);
        transform-origin: top;
    }

    .solution-menu-list .mobile-links-open {
        transform: translateY(0);
    }

    .mobile-nav-links>.mobile-links-open {
        display: none;
    }


    .solution-menu-close {
        transform: translateY(-200%);
        display: none;
        transform-origin: top;
    }

    .solution-menu-open {
        transform: translateY(0);

    }

    .solution-menu-lis {
        display: none;
    }


}