.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
select{
    border: none;
}

.navbar > div:first-child{
    display: flex;
    align-items: center;
}
.navbar > div:last-child{
    display: flex;
    align-items: center;
}